<div class="d-flex justify-content-center" style="margin-top: 5rem;">
  <div>
    <h2 class="title">Forgot your password?</h2>
    <p class="text-secondary">Digite o email que usa para acessar a sua conta.</p><br>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <% if notice %>
        <div class="alert alert-danger" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,
          class: 'form-control form-control-lg rounded-pill',
          required: true
        %>
      </div><br>

      <div class="form-group">
        <%= image_submit_tag('reset-password-button.svg',
            class: 'img-fluid',
            width: 200,
            height: 50
          )
        %>
      </div>
    <% end %>
  </div>
</div>
